  

  <div id="index-banner" class="parallax-container parallaxtop">
    <div class="section no-pad-bot">
      <div class="container nameheader">
        <br><br>
        <h1 class="header center light-blue-text text-darken-3">George Hsin</h1>
        <!-- <h4 class="center">Software Engineer</h4> -->
        <br><br>

      </div>
    </div>
    <div parallax>
      <img id='img' src="./static/images/desktech.jpg" alt="Unsplashed background img 1">
    </div>
  </div> 

  <div id="title">
    <h4 class="center white-text verticalcenter">Software Engineer</h4>  
  </div>

  <div class="container aboutme">
    <div class="section">
      <div class="row">
        <div class="col s12 m3 offset-m1">
            <img src="./static/images/headshot.jpg" alt="" class="circle responsive-img">
        </div>

        <div class="col s12 m6 offset-m1">
            <h5 class="center">Who Am I?</h5>
            <p class="light">I am a full stack software engineer who strives to create applications that streamline our daily tasks so we can focus on the enjoyments life has to offer. What started out as a mere curiosity, soon became a career transition from finance once I learned what I could accomplish with programming. Quick to adopt new technologies, I am proficient in Python, MEAN stack, and iOS development. I specialize in developing web applications, with a preference in backend development.
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section" id="inner">
      <h5 class="center" id="moreaboutme">More About Me</h5>
      <div class="video-container">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/O5W6LebW2u8" frameborder="0" allowfullscreen></iframe>
      </div> 
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <br><br>
          <h1 class="header center light-blue-text text-darken-3">Technologies</h1>
          <br><br>
        </div>
      </div>
    </div>
    <div parallax><img src="./static/images/computercode.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section technology">
      <div class="row">
        <div class="col s12">
        </div>
      </div>
      <div class="row">
        <div class="col s12 m2 offset-m1">
          <div class="icon-block">

            <h2 class="center brown-text"><img src="./static/images/programming-code-signs.png"></h2>
            <h5 class="center">Languages</h5>
            <div class="center">
              <p class="light">Python</p>
              <p class="light">JavaScript</p>
              <p class="light">iOS/Swift</p>
            </div>
          </div>
        </div>

        <div class="col s12 m2">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./static/images/computer-tower.png"></h2>
            <h5 class="center">Server</h5>
            <div class="center">
              <p class="light">Django</p>
              <p class="light">Express.js</p>
              <p class="light">Node.js</p>
              <p class="light">Flask</p>
              <p class="light">Socket.io</p>
            </div>
          </div>
        </div>

        <div class="col s12 m2">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./static/images/computer-screen.png"></h2>
            <h5 class="center">Client</h5>
            <div class="center">
              <p class="light">Angular.js</p>
              <p class="light">jQuery</p>
              <p class="light">AJAX</p>
              <p class="light">HTML5</p>
              <p class="light">CSS3</p>
              <p class="light">Bootstrap</p>
              <p class="light">Materialize</p>
            </div>
          </div>
        </div>

        <div class="col s12 m2">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./static/images/server.png"></h2>
            <h5 class="center">Database</h5>
            <div class="center">
              <p class="light">MongoDB</p>
              <p class="light">Mongoose</p>
              <p class="light">SQL</p>
              <p class="light">NoSQL</p>
            </div>
          </div>
        </div>

        <div class="col s12 m2">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="./static/images/wrench.png"></h2>
            <h5 class="center">More Tech</h5>
            <div class="center">
              <p class="light">Amazon Web Services</p>
              <p class="light">Github</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <a name="myprojects"></a>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <br><br>
          <h1 class="header center light-blue-text text-darken-3">Projects</h1>
          <br><br>
        </div>
      </div>
    </div>
    <div parallax><img src="./static/images/notepad2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-273send brown-text"></i></h3>
          <div class="col s12 m4">
          <a class="sitelink" href="http://54.201.19.147/"><h4>A Century of Names</h4></a>
            <p class="projdesc">A Century of Names is a web application that contains a record of the most popular U.S. First names since 1910. With features to search, filter, randomly generate, and favorite names, finding the perfect name for your next child has never been easier!</p>
            <hr>
            <h6>Technologies Used</h6>
            <ul class="list">
              <li>Python |</li>
              <li>Django |</li>
              <li>MySQL |</li>
              <li>Twython |</li>
              <li>HTML |</li>
              <li>CSS</li>
            </ul>
          </div>
          <div carousel class="col s12 m7 offset-m1 carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item">
              <a href="http://54.201.19.147/"><img src="./static/images/names_images/name1.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.201.19.147/"><img src="./static/images/names_images/name4.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.201.19.147/"><img src="./static/images/names_images/name5.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.201.19.147/"><img src="./static/images/names_images/name6.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.201.19.147/"><img src="./static/images/names_images/name7.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-273send brown-text"></i></h3>
          <div class="col s12 m4">
          <a class="sitelink" href="http://54.213.215.129/#!/"><h4>Mafia (Web)</h4></a>
            <p class="projdesc">A web based version of the icebreaker game <a href="https://en.wikipedia.org/wiki/Mafia_(party_game)">Mafia.</a> With an integrated chat room and support for 5-12 players, players can now play the game anytime and anywhere.</p>
            <hr>
            <h6>Technologies Used</h6>
            <ul class="list">
              <li>JavaSript |</li>
              <li>Mongoose.js |</li>
              <li>Express.js |</li>
              <li>Angular.js |</li>
              <li>Node.js |</li>
              <li>Socket.io |</li>
              <li>HTML |</li>
              <li>CSS</li>
            </ul>
          </div>
          <div carousel class="col s12 m7 offset-m1 carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item">
              <a href="http://54.213.215.129/#!/"><img src="./static/images/mafia_images/mafia7.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.213.215.129/#!/"><img src="./static/images/mafia_images/mafia2.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.213.215.129/#!/"><img src="./static/images/mafia_images/mafia5.png"></a>
            </div>
            <div class="carousel-item">
              <a href="http://54.213.215.129/#!/"><img src="./static/images/mafia_images/mafia6.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-273send brown-text"></i></h3>
          <div class="col s12 m4">
          <a class="sitelink" href="http://52.24.207.39/"><h4>Quotable Quotes</h4></a>
            <p class="projdesc">Share, view, and favorite quotes. With more features coming soon...</p>
            <hr>
            <h6>Technologies Used</h6>
            <ul class="list">
              <li>Python |</li>
              <li>Django |</li>
              <li>MySQL |</li>
              <li>HTML |</li>
              <li>CSS</li>
            </ul>
          </div>
        <div carousel class="col s12 m7 offset-m1 carousel carousel-slider center" data-indicators="true">
          <div class="carousel-item">
            <a href="http://52.24.207.39/"><img src="./static/images/quotes_images/quotes2.png"></a>
          </div>
          <div class="carousel-item">
            <a href="http://52.24.207.39/"><img src="./static/images/quotes_images/quotes1.png"></a>
          </div>
          <div class="carousel-item">
            <a href="http://52.24.207.39/"><img src="./static/images/quotes_images/quotes3.png"></a>
          </div>
        </div>


        </div>
      </div>
    </div>
  </div>


<div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-273send brown-text"></i></h3>
          <div class="col s12 m4">
          <a class="sitelink" href="http://52.24.207.39/"><h4>Quotable Quotes</h4></a>
            <p class="projdesc">Share, view, and favorite quotes. With more features coming soon...</p>
            <hr>
            <h6>Technologies Used</h6>
            <ul class="list">
              <li>Python |</li>
              <li>Django |</li>
              <li>MySQL |</li>
              <li>HTML |</li>
              <li>CSS</li>
            </ul>
          </div>
          <div carousel class="col s12 m7 offset-m1 carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
              <p><a class="btn waves-effect white grey-text darken-text-2">button</a></p>
            </div>
            <div class="carousel-item amber white-text" href="#one!">
              <h2>Second Panel</h2>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
            </div>
            <div class="carousel-item green white-text" href="#three!">
              <h2>Third Panel</h2>
              <p class="white-text">This is your third panel</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
              <h2>Fourth Panel</h2>
              <p class="white-text">This is your fourth panel</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
        </div>
      </div>
    </div>
    <div parallax><img src="./static/images/background1.jpg" alt="Unsplashed background img 3"></div>
  </div>

