/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

a {
  color: #0277bd;
}

#sidenav-overlay {
  z-index: 0;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: 500px;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.nameheader {
  margin-top: 120px;
}

.verticalcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#title{
  background-color: #0277bd;
  height: 50px;
}

#title h4 {
  font-weight: normal;
  margin: 0 auto;
}

.underline {
  border-bottom: medium solid #0277bd;
}

#headshot {
  /*margin: 0 auto;*/
  max-height: 300px;
  max-width: 300px;
}

.vert_align_parent {
  position: relative;
}

.vert_align_child {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
}

.aboutme {
  margin-top: 40px
}

#moreaboutme {
  margin-bottom: 20px;
}

.technology h5{
  border-bottom: 2px solid #0277bd;
}

.technology p {
  font-size: 18px;
}

.list li {
  display: inline;
}

.header {
  font-size: 100px;
}

.sitelink {
  text-decoration: none;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.parallaxtop {
/*  position: relative;
  overflow: hidden;*/
  height: 300px;
}

.connect {
  width: 32px;
  height: 32px;
  display:inline-block;
}

.connect_text {
  vertical-align: top;
  display:inline-block;
  margin-left: 15px;
  margin-top: 8px;
}

.technology {
  margin-top: 20px;
  margin-bottom: 20px;
}

a:visited {
  text-decoration: none;
}

.sitelink:visited {
  color:black;
  text-decoration: none;
  display: inline-block;
}

.sitelink:after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
}

.sitelink:hover:after {
  width: 100%;
  background:#0277bd;
}

.links {
  margin-top: -30px;
}

hr {
  border-color: #0277bd;
  margin-top: 30px;
}

#inner {
    width: 70%;
    margin: 0 auto; 
    margin-bottom: 50px;
}

.brand-logo {
  font-style: italic;
  font-weight: 500;
}

#resumecontainer {
  height:1200px;
}

#resume {
  height: 1110px;
  zoom: 100%;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0 0;
}

.projdesc {
  text-align: left;
}

h4 {
  font-weight: bold;
}

h6 {
  font-weight: 500;
  margin-top: 30px;
  font-size: 20px;
}
/*
============
CAROUSEL CSS
============
*/
.carousel-item {
  min-width: 100%;
  min-height: 100%;

}

.carousel-item img{
  border: 1px outset;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.carousel .indicators {
  bottom: -20px;
}
.carousel .indicators .indicator-item.active {
  background-color: #0277bd;
  border: 1px solid black;
}

.carousel .indicators .indicator-item {
  border: 1px solid black;
}

.carousel-slider {
    height: 400px !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*------------------------------------------------
--------------- BLOG PARTIAL -------------------
------------------------------------------------*/

.blogdate {
  text-align: right;
}

#comments {
  margin-left: 20px;
}

/*div.post {
  min-height: 30px;
}
*/
.post {
  white-space: pre-line;
}

.block {
  display: inline-block;
}

.alignRight{
  text-align: right;
  width:100%;
  display: inline-block;
}